<%- model_class = Applist -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <%= form_tag(import_applists_path, :method => :post) do %>
      <div class="form-group">
        <p>google_play_url, itunes_url</p>
        <%= text_area_tag :csv_text, '', size: '120x20', placeholder: "https://play.google.com/store/apps/details?id=jp.naver.line.android&hl=ja, https://itunes.apple.com/jp/app/line/id443904275?mt=8\n, https://itunes.apple.com/jp/app/google-mappu-riarutaimuno/id585027354?mt=8" %>
      </div>
      <%= submit_tag "CSV Import", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:google_play_url) %></th>
      <th><%= model_class.human_attribute_name(:itunes_url) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>Reviewer<br>(is_done?)</th>
      <th>Fetch App-info</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @applists.each do |applist| %>
      <tr>
        <td><%= link_to applist.id, applist_path(applist) %></td>
        <td><%= applist.google_play_url %></td>
        <td><%= applist.itunes_url %></td>
        <td><%= applist.created_at %></td>
        <td><% if applist.user_applists.present? %><%= applist.user_applists.first.user.username %>(<%= applist.user_applists.first.is_done %>)<% end %></td>
        <td>
          <% if applist.is_scraped %>
            <%= button_to 'FETCH', applist_scrape_app_path(applist),
                disabled: true,
                class: 'btn btn-lg btn-info' %>
          <% else %>
            <%= button_to 'FETCH', applist_scrape_app_path(applist),
                class: 'btn btn-lg btn-info' %>
          <% end %>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_applist_path(applist), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      applist_path(applist),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @applists %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_applist_path,
            :class => 'btn btn-primary' %>
