<p id="notice"><%= notice %></p>

<h1>Google Play Apps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Icon url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @google_play_apps.each do |google_play_app| %>
      <tr>
        <td><%= google_play_app.name %></td>
        <td><%= google_play_app.icon_url %></td>
        <td><%= link_to 'Show', google_play_app %></td>
        <td><%= link_to 'Edit', edit_google_play_app_path(google_play_app) %></td>
        <td><%= link_to 'Destroy', google_play_app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Google Play App', new_google_play_app_path %>
