<p id="notice"><%= notice %></p>

<h1>Itunes Apps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Icon url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itunes_apps.each do |itunes_app| %>
      <tr>
        <td><%= itunes_app.name %></td>
        <td><%= itunes_app.icon_url %></td>
        <td><%= link_to 'Show', itunes_app %></td>
        <td><%= link_to 'Edit', edit_itunes_app_path(itunes_app) %></td>
        <td><%= link_to 'Destroy', itunes_app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Itunes App', new_itunes_app_path %>
