<p id="notice"><%= notice %></p>

<% if current_user.is_admin %>
<h1>Admin Page</h1>

<% else %>
<h1>My reviewing App</h1>

<% if @reviewing_apps.present? %>
<table>
  <thead>
    <tr>
      <th>Itunes Icon</th>
      <th>Itunes App</th>
      <th>Gooele Play Icon</th>
      <th>Gooele Play App</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reviewing_apps.each do |applist| %>
      <tr>
        <td><% if applist.itunes_app %><%= image_tag(applist.itunes_app.icon_url) %><% end %></td>
        <td><% if applist.itunes_app %><%= link_to applist.itunes_app.name, applist.itunes_url %><% end %></td>
        <td><% if applist.google_play_app %><%= image_tag(applist.google_play_app.icon_url) %><% end %></td>
        <td><% if applist.google_play_app %><%= link_to applist.google_play_app.name, applist.google_play_url %><% end %></td>
        <td><%= button_to 'Review Done!', applist_done_app_path(applist) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>empty Apps</p>
<% end %>

<% end %>



